/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
  }

  html {
    width: 400px;
  }

  body {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  /* Remove margins and padding from the list */
  ul {
    margin: 0;
    padding: 0;
  }
  
  /* Style the list items */
  ul li {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 12px;
    transition: 0.2s;
    user-select: none;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  /* Darker background-color on hover */
  ul li:hover {
    background: #ddd;
  }
  
  /* Style the close button */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    user-select: none;
  }
  
  .close:hover {
    background-color: #e61d1d;
    color: white;
  }
  
  /* Style the header */
  .header {
    background-color: #0077C8;
    padding: 30px 40px 30px;
    color: white;
    display: grid;
  }

  .tabs {
    display: flex;
    justify-content: center;  
    align-content: center;
    background-color: #f1f1f1;
    grid-row: 1;
  }

  .tabs button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }

  .tabs button:hover {
    background-color: #ddd;
  }

  .tabs button.active {
    background-color: #ccc;
  }
  
  .tab {
    width: 50%;
  }

  form {
    grid-row: 2;
    display: grid;
    grid-template-rows: 40px;
    grid-template-columns: lfr auto;
  }

  /* Style the input */
  input {
    grid-column: 1;
  }
  
  /* Style the "Add" button */
  .addBtn {
    background: #d9d9d9;
    color: #555;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    user-select: none;
    grid-column: 2;
  }
  
  select, input, .addBtn {
    margin: 0;
    border-width: 0px;
    padding: 10px;
    font-size: 16px;

  }
  .addBtn:hover {
    background-color: #bbb;
  }