/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
  }

  html {
    width: 300px;
  }

  body {
    padding: 5px;
    background-color: #eee;
    margin: 0;
    width: 100%;
    outline: 2px solid #282828;
  }

  ul {
    margin: 0;
    padding: 0;
  }
  
  ul li {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #fff;
    font-size: 12px;
    transition: 0.2s;
    user-select: none;
  }
  
  ul li:nth-child(odd) {
    background: #f5f5f5;
  }
  
  ul li:hover {
    background: #ddd;
  }
  
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    user-select: none;
  }
  
  .close:hover {
    background-color: #e61d1d;
    color: white;
    transition: 0.2s;
  }
  
  .header {
    background-color: #ff0000;
    color: white;
    display: grid;
  }

  .tabs {
    display: flex;
    justify-content: center;  
    align-content: center;
    grid-row: 1;
    background-color: #eee;
  }

  .tabs button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    height: 40px;
  }

  .tabs button:hover {
    background-color: #ddd;
  }

  .tabs button img {
    height: 100%
  }

  .tab {
    width: 50%;
  }

  #blTab.active {
    background-color: #FFCCCB;
  }

  #wlTab.active {
    background-color: #90EE90;
  }

  /* Input field and add button */
  form {
    grid-row: 2;
    display: grid;
    grid-template-rows: 40px;
    user-select: none;
  }

  input, .addBtn {
    margin: 0;
    padding: 10px;
    font-size: 12px;
  }

  input {
    grid-column: 1;
    border-width: 1px solid #eee
  }

  input:focus {
    border: 2px solid #282828;
  }

  input:active {
    border: 2px solid #282828;
  }

  input:focus-visible {
    border: 2px solid #282828;
    outline: 0;
  }
  
  .addBtn {
    background: #aaa;
    border-width: 0px;
    display: flex;
    align-items:center;
    justify-content:center;
    cursor: pointer;
    transition: 0.3s;
    user-select: none;
    grid-column: 2;
  }
  
  .addBtn:hover {
    background-color: #bbb;
  }
  
  .addBtn:active {
    background-color: rgb(100, 100, 100);
  }